<div class="cls" id="div3">
  <!-- Data binding : interpollation {{ var / exp }} -->
  <h1 align="center">{{ title }}</h1>
  <!-- <h1>{{ 2 + 3 }}</h1> -->

  <h2>{{ names }}</h2>
  <!-- for(let name of names){

} -->
  <!-- <label for=""></label> -->
  <!-- <body text="data inH" style="data beaut"   *ngIf="data pro" -->
  <!-- Directive : *ngIf="data pro/manu/contro/op" -->
  <h2 *ngFor="let name of names">Sutdent Name : {{ name }}</h2>

  <h1>Product Name : {{ product.prdName }}</h1>
  <h1>Product Id : {{ product.prdId }}</h1>

  <div *ngFor="let product of products">
    <h3>Product Name : {{ product.prdName }}</h3>
    <h3>Product Id : {{ product.prdId }}</h3>
  </div>
</div>
