<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <!-- Start : row -->

      <div *ngFor="let product of products">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="../../../assets/img/sample-1.jpg" />
              <span class="card-title">{{ product.name }}</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"
                ><i class="material-icons">add</i></a
              >
            </div>
            <div class="card-content">
              <p>Product Name : {{ product.prdName }}</p>
              <p>Product Id : {{ product.prdId }}</p>
              <p *ngIf="product.inStock > 0; else outOfStock">
                Product in-stock : {{ product.inStock }}
              </p>
              <ng-template #outOfStock>
                <p>Product out of stock</p>
              </ng-template>
              <span [ngSwitch]="product.country">
                Made in :

                <img
                  *ngSwitchCase="'Australia'"
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/Flag_of_Australia.svg/23px-Flag_of_Australia.svg.png"
                  width="24"
                />
                <img
                  *ngSwitchCase="'Germany'"
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png"
                  width="24"
                />
                <img
                  *ngSwitchCase="'India'"
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png"
                  width="24"
                />
                <img
                  *ngSwitchDefault
                  src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/256/Flag_of_Japan.png"
                  width="24"
                />
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- End : row -->
    </div>
  </div>
</div>
<!-- 

<div *ngIf="isLoggedIn">
  Welcome back, friend.
</div>
With our new found knowledge, we can now understand that it’s equivalent to this:

<ng-template [ngIf]="isLoggedIn">
  <div>
    Welcome back, friend.
  </div>
</ng-template>


 -->
